
ul#menu li {
  display:inline;
}
.foodname{
	font-size: 1.3rem;
}
.topper{
	padding-top: 5.5rem;
	margin:0px;
	padding-left:5rem;
	padding-right:5rem;
}
.cardholder{
	padding-top: 10px;
}
.card{
}
.totalsumencloser{
	postion:absolute;
	font-size: 1.2rem;
}
.cardholder rowofcards{
	padding-left: 5rem;
}
#totalsum{
	padding-top: 1rem;
}
.card:hover{

	-webkit-box-shadow:0px 9px 40px -12px rgba(0,0,0,0.75);
	-moz-box-shadow:0px 9px 40px -12px rgba(0,0,0,0.75);
	box-shadow:0px 9px 40px -12px rgba(0,0,0,0.75);
}
.old{
	color:yellow;
}
.new{
	color:red;
}